USE [BDSeguros]
GO
/****** Object:  Table [dbo].[administrador]    Script Date: 6/11/2024 20:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[contraseña] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[beneficiario]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beneficiario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_vehiculo] [int] NOT NULL,
	[contraseña] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
	[id_provincia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documento]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[enlace] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaBeneficiarios]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaBeneficiarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[Fecha_union] [date] NULL,
	[Monto_aportado] [money] NULL,
	[Monto_a_pagar] [money] NULL,
	[Estado_siniestro] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[contraseña] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Poliza]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Poliza](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_tipo] [int] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presupuesto]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presupuesto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_emision] [date] NULL,
	[monto_total] [money] NULL,
	[detalles] [text] NULL,
	[impuestos] [money] NULL,
	[costo_sin_impuestos] [money] NULL,
	[estado] [varchar](10) NULL,
	[descuento] [money] NULL,
	[enlace] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[ruc] [varchar](20) NULL,
	[telefono] [varchar](10) NULL,
	[correo] [varchar](30) NULL,
	[calificacion] [varchar](15) NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
	[id_departamento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reclamacion]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reclamacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_siniestro] [int] NOT NULL,
	[fecha_reclamacion] [date] NULL,
	[estado] [varchar](10) NULL,
	[tipo] [varchar](20) NULL,
	[descripcion] [text] NULL,
	[evidencia] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siniestro]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siniestro](
	[id_siniestro] [int] IDENTITY(1,1) NOT NULL,
	[id_departamento] [int] NULL,
	[id_provincia] [int] NULL,
	[id_distrito] [int] NULL,
	[id_documento] [int] NULL,
	[id_poliza] [int] NULL,
	[id_taller] [int] NULL,
	[id_presupuesto] [int] NULL,
	[tipo] [varchar](20) NULL,
	[fecha_siniestro] [date] NULL,
	[fecha_creacion] [date] NULL,
	[fecha_actualizacion] [date] NULL,
	[ubicacion] [varchar](30) NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_siniestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taller]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
	[direccion] [varchar](30) NULL,
	[telefono] [varchar](10) NULL,
	[correo] [varchar](30) NULL,
	[ciudad] [varchar](20) NULL,
	[tipo] [varchar](25) NULL,
	[capacidad] [int] NULL,
	[descripcion] [text] NULL,
	[calificacion] [varchar](15) NULL,
	[estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPoliza]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPoliza](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
	[monto_mensual] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellido1] [varchar](50) NULL,
	[apellido2] [varchar](50) NULL,
	[dni] [varchar](10) NOT NULL,
	[telefono] [varchar](9) NULL,
	[LiderSogId] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [varchar](50) NULL,
	[tipo] [varchar](20) NULL,
	[tarjeta_vehiculo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Siniestro] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Siniestro] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[administrador]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario_admin] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[administrador] CHECK CONSTRAINT [fk_id_usuario_admin]
GO
ALTER TABLE [dbo].[beneficiario]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[beneficiario] CHECK CONSTRAINT [fk_id_usuario]
GO
ALTER TABLE [dbo].[beneficiario]  WITH CHECK ADD  CONSTRAINT [fk_id_vehiculo] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[Vehiculo] ([id])
GO
ALTER TABLE [dbo].[beneficiario] CHECK CONSTRAINT [fk_id_vehiculo]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [fk_distrito_provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [fk_distrito_provincia]
GO
ALTER TABLE [dbo].[ListaBeneficiarios]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario_beneficiario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[beneficiario] ([id])
GO
ALTER TABLE [dbo].[ListaBeneficiarios] CHECK CONSTRAINT [fk_id_usuario_beneficiario]
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario_personal] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[personal] CHECK CONSTRAINT [fk_id_usuario_personal]
GO
ALTER TABLE [dbo].[Poliza]  WITH CHECK ADD  CONSTRAINT [fk_id_tipo_poliza] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[TipoPoliza] ([id])
GO
ALTER TABLE [dbo].[Poliza] CHECK CONSTRAINT [fk_id_tipo_poliza]
GO
ALTER TABLE [dbo].[Poliza]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario_poliza] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Poliza] CHECK CONSTRAINT [fk_id_usuario_poliza]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [fk_provincia_departamento] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Departamento] ([id])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [fk_provincia_departamento]
GO
ALTER TABLE [dbo].[reclamacion]  WITH CHECK ADD  CONSTRAINT [fk_id_siniestro_reclamacion] FOREIGN KEY([id_siniestro])
REFERENCES [dbo].[Siniestro] ([id_siniestro])
GO
ALTER TABLE [dbo].[reclamacion] CHECK CONSTRAINT [fk_id_siniestro_reclamacion]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [fk_id_documento] FOREIGN KEY([id_documento])
REFERENCES [dbo].[documento] ([id])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [fk_id_documento]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [fk_id_poliza] FOREIGN KEY([id_poliza])
REFERENCES [dbo].[Poliza] ([id])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [fk_id_poliza]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [fk_id_presupuesto] FOREIGN KEY([id_presupuesto])
REFERENCES [dbo].[presupuesto] ([id])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [fk_id_presupuesto]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [fk_id_taller] FOREIGN KEY([id_taller])
REFERENCES [dbo].[Taller] ([id])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [fk_id_taller]
GO
ALTER TABLE [dbo].[Taller]  WITH CHECK ADD  CONSTRAINT [fk_id_proveedor_taller] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Taller] CHECK CONSTRAINT [fk_id_proveedor_taller]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorDni]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorDni]
    @Dni NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Dni, nombres, apellido1, apellido2  -- Incluye el campo 'Id' si es la clave primaria
    FROM Usuario
    WHERE Dni = @Dni;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AutenticarUsuario]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AutenticarUsuario]
    @IdUsuario INT,
    @TipoUsuario VARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Comprobar en la tabla Beneficiario
    IF EXISTS (SELECT 1 FROM beneficiario WHERE id_usuario = @IdUsuario)
    BEGIN
        SET @TipoUsuario = 'Beneficiario';
        RETURN;
    END

    -- Comprobar en la tabla Personal
    IF EXISTS (SELECT 1 FROM personal WHERE id_usuario = @IdUsuario)
    BEGIN
        SET @TipoUsuario = 'Personal';
        RETURN;
    END

    -- Comprobar en la tabla Administrador
    IF EXISTS (SELECT 1 FROM administrador WHERE id_usuario = @IdUsuario)
    BEGIN
        SET @TipoUsuario = 'Administrador';
        RETURN;
    END

    -- Si no se encontró, establecer tipo como NULL
    SET @TipoUsuario = NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IdentificarTipoUsuario]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IdentificarTipoUsuario]
    @DNI NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    -- Buscar en la tabla Beneficiario
    IF EXISTS (SELECT 1 FROM beneficiario b
               JOIN Usuario u ON b.id_usuario = u.id
               WHERE u.dni = @DNI)
    BEGIN
        SELECT u.Id, 'Beneficiario' AS TipoUsuario
        FROM Usuario u
        JOIN beneficiario b ON u.id = b.id_usuario
        WHERE u.dni = @DNI;
        RETURN;
    END

    -- Buscar en la tabla Personal
    IF EXISTS (SELECT 1 FROM personal p
               JOIN Usuario u ON p.id_usuario = u.id
               WHERE u.dni = @DNI)
    BEGIN
        SELECT u.Id, 'Personal' AS TipoUsuario
        FROM Usuario u
        JOIN personal p ON u.id = p.id_usuario
        WHERE u.dni = @DNI;
        RETURN;
    END

    -- Buscar en la tabla Administrador
    IF EXISTS (SELECT 1 FROM administrador a
               JOIN Usuario u ON a.id_usuario = u.id
               WHERE u.dni = @DNI)
    BEGIN
        SELECT u.Id, 'Administrador' AS TipoUsuario
        FROM Usuario u
        JOIN administrador a ON u.id = a.id_usuario
        WHERE u.dni = @DNI;
        RETURN;
    END

    -- Si no se encontró el usuario en ninguna tabla, retornar NULL
    SELECT NULL AS TipoUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarVehiculo]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarVehiculo]
    @Placa VARCHAR(50),
    @Marca VARCHAR(50),
    @Modelo VARCHAR(50),
    @Tipo VARCHAR(20),
    @TarjetaVehiculo INT,
    @IdVehiculo INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Vehiculo (placa, marca, modelo, tipo, tarjeta_vehiculo)
    VALUES (@Placa, @Marca, @Modelo, @Tipo, @TarjetaVehiculo);

    -- Obtener el Id del vehículo recién insertado
    SET @IdVehiculo = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerContraseñaHasheadaUsuario]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerContraseñaHasheadaUsuario]
    @IdUsuario INT,
    @ContraseñaHash VARCHAR(60) OUTPUT  -- Este parámetro retornará la contraseña hasheada
AS
BEGIN
    SET NOCOUNT ON;

    -- Comprobar en la tabla Beneficiario
    IF EXISTS (SELECT 1 FROM beneficiario WHERE id_usuario = @IdUsuario)
    BEGIN
        -- Obtener la contraseña hasheada del beneficiario
        SELECT @ContraseñaHash = contraseña FROM beneficiario WHERE id_usuario = @IdUsuario;
        RETURN;
    END

    -- Comprobar en la tabla Personal
    IF EXISTS (SELECT 1 FROM personal WHERE id_usuario = @IdUsuario)
    BEGIN
        -- Obtener la contraseña hasheada del personal
        SELECT @ContraseñaHash = contraseña FROM personal WHERE id_usuario = @IdUsuario;
        RETURN;
    END

    -- Comprobar en la tabla Administrador
    IF EXISTS (SELECT 1 FROM administrador WHERE id_usuario = @IdUsuario)
    BEGIN
        -- Obtener la contraseña hasheada del administrador
        SELECT @ContraseñaHash = contraseña FROM administrador WHERE id_usuario = @IdUsuario;
        RETURN;
    END

    -- Si no se encontró, devolver NULL
    SET @ContraseñaHash = NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerIdPorDNI]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerIdPorDNI]
    @DNI VARCHAR(10),
    @IdUsuario INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @IdUsuario = id
    FROM Usuario
    WHERE dni = @DNI;

    -- Si no se encuentra el usuario, se establece @IdUsuario en NULL
    IF @IdUsuario IS NULL
    BEGIN
        SET @IdUsuario = -1; -- Valor especial para indicar que no se encontró
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarAdministrador]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarAdministrador]
    @id_usuario INT,
    @Password VARCHAR(60)
AS
BEGIN
    INSERT INTO Administrador (id_usuario, contraseña)
    VALUES (@id_usuario, @Password);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarBeneficiario]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarBeneficiario]
    @id_usuario INT,
    @IdVehiculo INT,
    @Password VARCHAR(60)
AS
BEGIN
    INSERT INTO Beneficiario (id_usuario, id_vehiculo, contraseña)
    VALUES (@id_usuario, @IdVehiculo, @Password);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPersonal]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarPersonal]
    @id_usuario INT,
    @Password VARCHAR(60)
AS
BEGIN
    INSERT INTO Personal (id_usuario, contraseña)
    VALUES (@id_usuario, @Password);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarSiniestro]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarSiniestro]
    @Tipo NVARCHAR(20),
    @FechaSiniestro DATE,
    @Departamento INT,
    @Provincia INT,
    @Distrito INT,
    @Ubicacion NVARCHAR(30),
    @Descripcion NVARCHAR(MAX),
    @IdDocumento INT = 1,  -- Valor predeterminado de 1
    @IdPoliza INT = 1,     -- Valor predeterminado de 1
    @IdTaller INT = 1,     -- Valor predeterminado de 1
    @IdPresupuesto INT = 1,-- Valor predeterminado de 1
    @IdSiniestro INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Insertar el nuevo siniestro en la tabla Siniestro
    INSERT INTO Siniestro (
        tipo, fecha_siniestro, fecha_creacion, fecha_actualizacion, ubicacion, descripcion, 
        id_departamento, id_provincia, id_distrito, id_documento, id_poliza, id_taller, id_presupuesto
    )
    VALUES (
        @Tipo, @FechaSiniestro, GETDATE(), GETDATE(), @Ubicacion, @Descripcion, 
        @Departamento, @Provincia, @Distrito, @IdDocumento, @IdPoliza, @IdTaller, @IdPresupuesto
    );

    -- Obtener el ID del siniestro recién insertado
    SET @IdSiniestro = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 6/11/2024 20:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para registrar un usuario
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]
    @Nombres VARCHAR(50),
    @Apellido1 VARCHAR(50),
    @Apellido2 VARCHAR(50),
    @DNI VARCHAR(10),
    @Telefono VARCHAR(7),
    @LiderSogId VARCHAR(15),
    @IdUsuario INT OUTPUT
AS
BEGIN
    INSERT INTO Usuario (nombres, apellido1, apellido2, dni, telefono, LiderSogId)
    VALUES (@Nombres, @Apellido1, @Apellido2, @DNI, @Telefono, @LiderSogId);

    SET @IdUsuario = SCOPE_IDENTITY();
END
GO
