USE [master]
GO
/****** Object:  Database [BDSeguros]    Script Date: 26/11/2024 16:51:31 ******/
CREATE DATABASE [BDSeguros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDSeguros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDSeguros.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDSeguros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDSeguros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDSeguros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDSeguros]
GO
/****** Object:  User [saa]    Script Date: 26/11/2024 16:51:32 ******/
CREATE USER [saa] FOR LOGIN [saa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[administrador]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[contraseña] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[beneficiario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beneficiario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_vehiculo] [int] NULL,
	[contraseña] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
	[id_provincia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_siniestro] [int] NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Extension] [nvarchar](10) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosReclamacion]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosReclamacion](
	[IdDocumento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Extension] [varchar](50) NOT NULL,
	[IdReclamacion] [int] NOT NULL,
	[Url] [nvarchar](900) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaBeneficiarios]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaBeneficiarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[Fecha_union] [date] NULL,
	[Monto_aportado] [money] NULL,
	[Monto_a_pagar] [money] NULL,
	[Estado_siniestro] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[contraseña] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Poliza]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Poliza](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_beneficiario] [int] NOT NULL,
	[id_tipo] [int] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presupuesto]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presupuesto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_emision] [date] NULL,
	[monto_total] [money] NULL,
	[detalles] [text] NULL,
	[impuestos] [money] NULL,
	[costo_sin_impuestos] [money] NULL,
	[estado] [varchar](10) NULL,
	[descuento] [money] NULL,
	[enlace] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[ruc] [varchar](20) NULL,
	[telefono] [varchar](10) NULL,
	[correo] [varchar](30) NULL,
	[calificacion] [varchar](15) NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
	[id_departamento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reclamacion]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reclamacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_siniestro] [int] NOT NULL,
	[fecha_reclamacion] [date] NULL,
	[estado] [varchar](10) NULL,
	[descripcion] [text] NULL,
	[tipo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siniestro]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siniestro](
	[id_siniestro] [int] IDENTITY(1,1) NOT NULL,
	[id_departamento] [int] NULL,
	[id_provincia] [int] NULL,
	[id_distrito] [int] NULL,
	[id_documento] [int] NULL,
	[id_poliza] [int] NULL,
	[id_taller] [int] NULL,
	[id_presupuesto] [int] NULL,
	[tipo] [varchar](20) NULL,
	[fecha_siniestro] [date] NULL,
	[fecha_creacion] [date] NULL,
	[fecha_actualizacion] [date] NULL,
	[ubicacion] [varchar](30) NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_siniestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taller]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NULL,
	[nombre] [varchar](20) NULL,
	[direccion] [varchar](30) NULL,
	[telefono] [varchar](10) NULL,
	[correo] [varchar](30) NULL,
	[ciudad] [varchar](20) NULL,
	[tipo] [varchar](25) NULL,
	[capacidad] [int] NULL,
	[descripcion] [text] NULL,
	[calificacion] [varchar](50) NULL,
	[estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPoliza]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPoliza](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
	[monto_mensual] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellido1] [varchar](50) NULL,
	[apellido2] [varchar](50) NULL,
	[dni] [varchar](10) NOT NULL,
	[telefono] [varchar](9) NULL,
	[tipousuario] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [varchar](50) NULL,
	[tipo] [varchar](20) NULL,
	[tarjeta_vehiculo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[administrador] ON 

INSERT [dbo].[administrador] ([id], [id_usuario], [contraseña]) VALUES (1, 12, N'$2a$11$nBW5UzHL4GniLDt7R.PCvuvHVWd5TGYiB/BFe68aniqbdozgtZHEC')
INSERT [dbo].[administrador] ([id], [id_usuario], [contraseña]) VALUES (2, 17, N'$2a$11$wUGFgnW/F9mv/SPWtuYu5OogcjiK1DAJpc38AvrDf7dTrs9/JhzRq')
INSERT [dbo].[administrador] ([id], [id_usuario], [contraseña]) VALUES (3, 18, N'$2a$11$Qt.05iIsU9AXPkDl3TQaT.z/C1ytNX3fxDls9519iuCer.67iOpCW')
SET IDENTITY_INSERT [dbo].[administrador] OFF
GO
SET IDENTITY_INSERT [dbo].[beneficiario] ON 

INSERT [dbo].[beneficiario] ([id], [id_usuario], [id_vehiculo], [contraseña]) VALUES (2, 4, NULL, N'$2a$11$amj5QFzdscb8O9VZjRazqOsRlKjL1ZNdgF7cGYGZZcCIFkkIQR1O6')
INSERT [dbo].[beneficiario] ([id], [id_usuario], [id_vehiculo], [contraseña]) VALUES (3, 5, NULL, N'$2a$11$apIZ4Q/UXFsWUqHbLDjhj.Y0CQkNb6W3h.6gddYIO1nn.f98fKbAe')
INSERT [dbo].[beneficiario] ([id], [id_usuario], [id_vehiculo], [contraseña]) VALUES (4, 6, NULL, N'$2a$11$fg8WGyhR1bG6lRJkrw74kulql6Hbj.8uSrYLUoQGEYWNNVzv7sSSy')
SET IDENTITY_INSERT [dbo].[beneficiario] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([id], [descripcion]) VALUES (1, N'Amazonas')
INSERT [dbo].[Departamento] ([id], [descripcion]) VALUES (2, N'Áncash')
INSERT [dbo].[Departamento] ([id], [descripcion]) VALUES (3, N'Apurímac')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Distrito] ON 

INSERT [dbo].[Distrito] ([id], [descripcion], [id_provincia]) VALUES (1, N'Miraflores', 1)
INSERT [dbo].[Distrito] ([id], [descripcion], [id_provincia]) VALUES (2, N'San Isidro', 1)
INSERT [dbo].[Distrito] ([id], [descripcion], [id_provincia]) VALUES (3, N'La Molina', 1)
SET IDENTITY_INSERT [dbo].[Distrito] OFF
GO
SET IDENTITY_INSERT [dbo].[Documento] ON 

INSERT [dbo].[Documento] ([Id], [id_siniestro], [Nombre], [Extension], [Url], [FechaCreacion]) VALUES (1, 1063, N'Captura de pantalla 2024-08-21 080732.png', N'.png', N'https://res.cloudinary.com/dovonolyt/image/upload/v1732639530/Siniestros/Siniestro_1063/Captura de pantalla 2024-08-21 080732.png', CAST(N'2024-11-26T11:45:29.680' AS DateTime))
INSERT [dbo].[Documento] ([Id], [id_siniestro], [Nombre], [Extension], [Url], [FechaCreacion]) VALUES (2, 1064, N'Captura de pantalla 2024-08-21 093306.png', N'.png', N'https://res.cloudinary.com/dovonolyt/image/upload/v1732639611/Siniestros/Siniestro_1064/Captura de pantalla 2024-08-21 093306.png', CAST(N'2024-11-26T11:46:51.190' AS DateTime))
INSERT [dbo].[Documento] ([Id], [id_siniestro], [Nombre], [Extension], [Url], [FechaCreacion]) VALUES (3, 1065, N'Captura de pantalla 2024-08-21 093844.png', N'.png', N'https://res.cloudinary.com/dovonolyt/image/upload/v1732640328/Siniestros/Siniestro_1065/Captura de pantalla 2024-08-21 093844.png', CAST(N'2024-11-26T11:58:48.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[Documento] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentosReclamacion] ON 

INSERT [dbo].[DocumentosReclamacion] ([IdDocumento], [Nombre], [Extension], [IdReclamacion], [Url]) VALUES (1, N'reclamacion_detallada.jpg', N'.jpg', 1022, N'https://res.cloudinary.com/dovonolyt/image/upload/v1732556868/RimacSeguros/Siniestro_57-Reclamacion_1022/Reclamacion_detallada.jpg')
INSERT [dbo].[DocumentosReclamacion] ([IdDocumento], [Nombre], [Extension], [IdReclamacion], [Url]) VALUES (2, N'barcelona.png', N'.png', 1023, N'https://res.cloudinary.com/dovonolyt/image/upload/v1732557711/RimacSeguros/Siniestro_57-Reclamacion_1023/barcelona.png')
INSERT [dbo].[DocumentosReclamacion] ([IdDocumento], [Nombre], [Extension], [IdReclamacion], [Url]) VALUES (3, N'Captura de pantalla 2024-08-21 080732.png', N'.png', 1024, N'https://res.cloudinary.com/dovonolyt/image/upload/v1732596430/RimacSeguros/Siniestro_58-Reclamacion_1024/Captura de pantalla 2024-08-21 080732.png')
SET IDENTITY_INSERT [dbo].[DocumentosReclamacion] OFF
GO
SET IDENTITY_INSERT [dbo].[personal] ON 

INSERT [dbo].[personal] ([id], [id_usuario], [contraseña]) VALUES (1, 2, N'$2a$11$77klPEoA0/.jXksjCS7yEOVRuQsOiwnx.QhE5R5ociIE8tK1n5qZe')
INSERT [dbo].[personal] ([id], [id_usuario], [contraseña]) VALUES (2, 13, N'$2a$11$AaS3mxizX8txOh2pAXk7CO0EjTpMYFVVDu4NSx/RLk1v5WrgughKy')
INSERT [dbo].[personal] ([id], [id_usuario], [contraseña]) VALUES (3, 16, N'$2a$11$I/DxJ7v5kFp76ikE0DxeYuicryohkDbR/pOulbQ8GR6tv5Y/1N.oW')
SET IDENTITY_INSERT [dbo].[personal] OFF
GO
SET IDENTITY_INSERT [dbo].[Poliza] ON 

INSERT [dbo].[Poliza] ([id], [id_beneficiario], [id_tipo], [fecha_inicio], [fecha_fin], [estado]) VALUES (4, 2, 1, CAST(N'2024-11-12' AS Date), CAST(N'2024-11-12' AS Date), N'Activo')
INSERT [dbo].[Poliza] ([id], [id_beneficiario], [id_tipo], [fecha_inicio], [fecha_fin], [estado]) VALUES (5, 21, 2, CAST(N'2024-11-12' AS Date), CAST(N'2024-11-14' AS Date), N'Inactivo')
INSERT [dbo].[Poliza] ([id], [id_beneficiario], [id_tipo], [fecha_inicio], [fecha_fin], [estado]) VALUES (6, 3, 1, CAST(N'2024-11-13' AS Date), CAST(N'2025-11-13' AS Date), N'Activo')
SET IDENTITY_INSERT [dbo].[Poliza] OFF
GO
SET IDENTITY_INSERT [dbo].[presupuesto] ON 

INSERT [dbo].[presupuesto] ([id], [fecha_emision], [monto_total], [detalles], [impuestos], [costo_sin_impuestos], [estado], [descuento], [enlace]) VALUES (1, CAST(N'2024-11-05' AS Date), 0.0000, N'Detalles de prueba', 0.0000, 0.0000, N'Pagado', 0.0000, N'enlace_prueba')
INSERT [dbo].[presupuesto] ([id], [fecha_emision], [monto_total], [detalles], [impuestos], [costo_sin_impuestos], [estado], [descuento], [enlace]) VALUES (3, CAST(N'2024-11-12' AS Date), 12000.0000, N'Para todo el año', 1500.0000, 18500.0000, N'Pagado', 0.0000, N'presupuesto.com.pe')
INSERT [dbo].[presupuesto] ([id], [fecha_emision], [monto_total], [detalles], [impuestos], [costo_sin_impuestos], [estado], [descuento], [enlace]) VALUES (4, CAST(N'2024-11-26' AS Date), 100.0000, N'SDJA', 100.0000, 100.0000, N'Pendiente', 100.0000, N'FARA@gmail.com')
SET IDENTITY_INSERT [dbo].[presupuesto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([id], [nombre], [ruc], [telefono], [correo], [calificacion], [descripcion]) VALUES (1, N'Proveedor Ejemplo1', N'12345678901', N'123456789', N'proveedor@ejemplo.com', N'A', N'Proveedor de prueba')
INSERT [dbo].[Proveedor] ([id], [nombre], [ruc], [telefono], [correo], [calificacion], [descripcion]) VALUES (4, N'hola', N'das', N'23', N'daniel', N'A', N'sa')
INSERT [dbo].[Proveedor] ([id], [nombre], [ruc], [telefono], [correo], [calificacion], [descripcion]) VALUES (5, N'proveedornuevo', N'45132431', N'93994', N'm@hotmail.com', N'B', N'nuevo')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([id], [descripcion], [id_departamento]) VALUES (1, N'Lima', 15)
INSERT [dbo].[Provincia] ([id], [descripcion], [id_departamento]) VALUES (2, N'Barranca', 15)
INSERT [dbo].[Provincia] ([id], [descripcion], [id_departamento]) VALUES (3, N'Cañete', 15)
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
SET IDENTITY_INSERT [dbo].[reclamacion] ON 

INSERT [dbo].[reclamacion] ([id], [id_siniestro], [fecha_reclamacion], [estado], [descripcion], [tipo]) VALUES (1022, 57, CAST(N'2024-11-25' AS Date), N'Pendiente', N'Necesito mi dinero.', N'Robo')
INSERT [dbo].[reclamacion] ([id], [id_siniestro], [fecha_reclamacion], [estado], [descripcion], [tipo]) VALUES (1023, 57, CAST(N'2024-11-25' AS Date), N'Pendiente', N'necesito mi pago', N'Robo')
INSERT [dbo].[reclamacion] ([id], [id_siniestro], [fecha_reclamacion], [estado], [descripcion], [tipo]) VALUES (1024, 58, CAST(N'2024-11-25' AS Date), N'Pendiente', N'das', N'Robo')
SET IDENTITY_INSERT [dbo].[reclamacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Siniestro] ON 

INSERT [dbo].[Siniestro] ([id_siniestro], [id_departamento], [id_provincia], [id_distrito], [id_documento], [id_poliza], [id_taller], [id_presupuesto], [tipo], [fecha_siniestro], [fecha_creacion], [fecha_actualizacion], [ubicacion], [descripcion]) VALUES (41, 15, 1, 3, 1, 4, 14, 3, N'Choque', CAST(N'2024-11-12' AS Date), CAST(N'2024-11-12' AS Date), CAST(N'2024-11-12' AS Date), N'Molina 123', N'Una moto choco mi carro')
INSERT [dbo].[Siniestro] ([id_siniestro], [id_departamento], [id_provincia], [id_distrito], [id_documento], [id_poliza], [id_taller], [id_presupuesto], [tipo], [fecha_siniestro], [fecha_creacion], [fecha_actualizacion], [ubicacion], [descripcion]) VALUES (42, 15, 3, 7, 1, 4, 13, 3, N'Daños Menores', CAST(N'2024-11-12' AS Date), CAST(N'2024-11-12' AS Date), CAST(N'2024-11-12' AS Date), N'Sur 123', N'Una persona me tiró un golpe')
INSERT [dbo].[Siniestro] ([id_siniestro], [id_departamento], [id_provincia], [id_distrito], [id_documento], [id_poliza], [id_taller], [id_presupuesto], [tipo], [fecha_siniestro], [fecha_creacion], [fecha_actualizacion], [ubicacion], [descripcion]) VALUES (43, 15, 1, 1, 2, 5, 4, 6, N'Daños Menores', CAST(N'2024-11-09' AS Date), CAST(N'2024-11-12' AS Date), CAST(N'2024-11-12' AS Date), N'Paseo la republica 111', N'Nos rompieron las lunas')
SET IDENTITY_INSERT [dbo].[Siniestro] OFF
GO
SET IDENTITY_INSERT [dbo].[Taller] ON 

INSERT [dbo].[Taller] ([id], [id_proveedor], [nombre], [direccion], [telefono], [correo], [ciudad], [tipo], [capacidad], [descripcion], [calificacion], [estado]) VALUES (1, 1, N'Taller Ejemplo', N'Dirección Ejemplo', N'123456789', N'taller@ejemplo.com', N'Ciudad Ejemplo', N'Tipo Ejemplo', 140, N'Descripción del taller', N'5', N'Activo')
INSERT [dbo].[Taller] ([id], [id_proveedor], [nombre], [direccion], [telefono], [correo], [ciudad], [tipo], [capacidad], [descripcion], [calificacion], [estado]) VALUES (4, 1, N'Taller de Prueba', N'Av. Ejemplo 123', N'123456789', N'taller@ejemplo.com', N'Ciudad Ejemplo', N'General', 100, N'Descripción de prueba', N'5', N'Activo')
INSERT [dbo].[Taller] ([id], [id_proveedor], [nombre], [direccion], [telefono], [correo], [ciudad], [tipo], [capacidad], [descripcion], [calificacion], [estado]) VALUES (5, 1, N'Taller Ejemplo', N'Dirección Ejemplo', N'123456789', N'ejemplo@taller.com', N'Ciudad Ejemplo', N'General', 100, N'Descripción del taller', N'5', N'Activo')
SET IDENTITY_INSERT [dbo].[Taller] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPoliza] ON 

INSERT [dbo].[TipoPoliza] ([id], [descripcion], [monto_mensual]) VALUES (1, N'Esencial', 100.0000)
INSERT [dbo].[TipoPoliza] ([id], [descripcion], [monto_mensual]) VALUES (2, N'Intermedia', 200.0000)
INSERT [dbo].[TipoPoliza] ([id], [descripcion], [monto_mensual]) VALUES (3, N'Premium', 300.0000)
SET IDENTITY_INSERT [dbo].[TipoPoliza] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombres], [apellido1], [apellido2], [dni], [telefono], [tipousuario]) VALUES (2, N'Luke', N'Vader', N'Woks', N'348482', N'123341', N'personal')
INSERT [dbo].[Usuario] ([id], [nombres], [apellido1], [apellido2], [dni], [telefono], [tipousuario]) VALUES (3, N'Lucas', N'Moura', N'Calex', N'1111122', N'3333442', N'beneficiario')
INSERT [dbo].[Usuario] ([id], [nombres], [apellido1], [apellido2], [dni], [telefono], [tipousuario]) VALUES (4, N'Loks', N'Artorias', N'Catarina', N'222554', N'9811123', N'beneficiario')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([id], [placa], [marca], [modelo], [tipo], [tarjeta_vehiculo]) VALUES (1, N'KIO222', N'Toyota', N'2019', N'Sedan', 998121)
INSERT [dbo].[Vehiculo] ([id], [placa], [marca], [modelo], [tipo], [tarjeta_vehiculo]) VALUES (2, N'rty111', N'Nissan', N'2018', N'Sedan', 11122)
INSERT [dbo].[Vehiculo] ([id], [placa], [marca], [modelo], [tipo], [tarjeta_vehiculo]) VALUES (4, N'vfg121', N'Subaru', N'2021', N'Sedan', 22239)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoUsua__75E3EFCFF8744AF0]    Script Date: 26/11/2024 16:51:32 ******/
ALTER TABLE [dbo].[TipoUsuario] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__D87608A7EE3472CE]    Script Date: 26/11/2024 16:51:32 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehiculo__0C057425971F3B2C]    Script Date: 26/11/2024 16:51:32 ******/
ALTER TABLE [dbo].[Vehiculo] ADD UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Documento] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Siniestro] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Siniestro] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[administrador]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario_admin] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[administrador] CHECK CONSTRAINT [fk_id_usuario_admin]
GO
ALTER TABLE [dbo].[beneficiario]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[beneficiario] CHECK CONSTRAINT [fk_id_usuario]
GO
ALTER TABLE [dbo].[beneficiario]  WITH CHECK ADD  CONSTRAINT [fk_id_vehiculo] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[Vehiculo] ([id])
GO
ALTER TABLE [dbo].[beneficiario] CHECK CONSTRAINT [fk_id_vehiculo]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [fk_distrito_provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [fk_distrito_provincia]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD FOREIGN KEY([id_siniestro])
REFERENCES [dbo].[Siniestro] ([id_siniestro])
GO
ALTER TABLE [dbo].[DocumentosReclamacion]  WITH CHECK ADD FOREIGN KEY([IdReclamacion])
REFERENCES [dbo].[reclamacion] ([id])
GO
ALTER TABLE [dbo].[ListaBeneficiarios]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario_beneficiario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[beneficiario] ([id])
GO
ALTER TABLE [dbo].[ListaBeneficiarios] CHECK CONSTRAINT [fk_id_usuario_beneficiario]
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario_personal] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[personal] CHECK CONSTRAINT [fk_id_usuario_personal]
GO
ALTER TABLE [dbo].[Poliza]  WITH CHECK ADD  CONSTRAINT [fk_id_beneficiario_poliza] FOREIGN KEY([id_beneficiario])
REFERENCES [dbo].[beneficiario] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Poliza] CHECK CONSTRAINT [fk_id_beneficiario_poliza]
GO
ALTER TABLE [dbo].[Poliza]  WITH CHECK ADD  CONSTRAINT [fk_id_tipo_poliza] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[TipoPoliza] ([id])
GO
ALTER TABLE [dbo].[Poliza] CHECK CONSTRAINT [fk_id_tipo_poliza]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [fk_provincia_departamento] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Departamento] ([id])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [fk_provincia_departamento]
GO
ALTER TABLE [dbo].[reclamacion]  WITH CHECK ADD  CONSTRAINT [fk_id_siniestro_reclamacion] FOREIGN KEY([id_siniestro])
REFERENCES [dbo].[Siniestro] ([id_siniestro])
GO
ALTER TABLE [dbo].[reclamacion] CHECK CONSTRAINT [fk_id_siniestro_reclamacion]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [fk_id_poliza] FOREIGN KEY([id_poliza])
REFERENCES [dbo].[Poliza] ([id])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [fk_id_poliza]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [fk_id_presupuesto] FOREIGN KEY([id_presupuesto])
REFERENCES [dbo].[presupuesto] ([id])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [fk_id_presupuesto]
GO
ALTER TABLE [dbo].[Siniestro]  WITH CHECK ADD  CONSTRAINT [fk_id_taller] FOREIGN KEY([id_taller])
REFERENCES [dbo].[Taller] ([id])
GO
ALTER TABLE [dbo].[Siniestro] CHECK CONSTRAINT [fk_id_taller]
GO
ALTER TABLE [dbo].[Taller]  WITH CHECK ADD  CONSTRAINT [fk_id_proveedor_taller] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Taller] CHECK CONSTRAINT [fk_id_proveedor_taller]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorDni]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorDni]
    @Dni NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Dni, nombres, apellido1, apellido2  -- Incluye el campo 'Id' si es la clave primaria
    FROM Usuario
    WHERE Dni = @Dni;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarIdVehiculoBeneficiario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarIdVehiculoBeneficiario]
    @IdVehiculo INT
AS
BEGIN
    -- Actualizar solo el último beneficiario insertado con id_vehiculo = 3
    UPDATE Beneficiario
    SET id_vehiculo = @IdVehiculo
    WHERE id_vehiculo = 3
    AND id = (SELECT MAX(id) FROM Beneficiario);  -- Obtener el último insertado por id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AsignarIDVehiculo]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AsignarIDVehiculo]
    @idBeneficiario INT,
    @IdVehiculo INT
AS
BEGIN
    -- Actualizar el id_vehiculo del beneficiario especificado
    UPDATE Beneficiario
    SET id_vehiculo = @IdVehiculo
    WHERE id_usuario = @idBeneficiario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AsignarPolizaABeneficiario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AsignarPolizaABeneficiario]
    @idPoliza INT,
    @idBeneficiario INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si la póliza existe
    IF NOT EXISTS (SELECT 1 FROM Poliza WHERE id = @idPoliza)
    BEGIN
        RAISERROR('No se encontró una póliza con el ID proporcionado.', 16, 1);
        RETURN;
    END

    -- Actualizar el id_beneficiario de la póliza especificada
    UPDATE Poliza
    SET id_beneficiario = @idBeneficiario
    WHERE id = @idPoliza;

    -- Verificar si la actualización fue exitosa
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('No se pudo asignar la póliza al beneficiario.', 16, 1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AutenticarUsuario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AutenticarUsuario]
    @IdUsuario INT,
    @TipoUsuario VARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Comprobar en la tabla Beneficiario
    IF EXISTS (SELECT 1 FROM beneficiario WHERE id_usuario = @IdUsuario)
    BEGIN
        SET @TipoUsuario = 'Beneficiario';
        RETURN;
    END

    -- Comprobar en la tabla Personal
    IF EXISTS (SELECT 1 FROM personal WHERE id_usuario = @IdUsuario)
    BEGIN
        SET @TipoUsuario = 'Personal';
        RETURN;
    END

    -- Comprobar en la tabla Administrador
    IF EXISTS (SELECT 1 FROM administrador WHERE id_usuario = @IdUsuario)
    BEGIN
        SET @TipoUsuario = 'Administrador';
        RETURN;
    END

    -- Si no se encontró, establecer tipo como NULL
    SET @TipoUsuario = NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IdentificarTipoUsuario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IdentificarTipoUsuario]
    @DNI NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    -- Buscar en la tabla Beneficiario
    IF EXISTS (SELECT 1 FROM beneficiario b
               JOIN Usuario u ON b.id_usuario = u.id
               WHERE u.dni = @DNI)
    BEGIN
        SELECT u.Id, 'Beneficiario' AS TipoUsuario
        FROM Usuario u
        JOIN beneficiario b ON u.id = b.id_usuario
        WHERE u.dni = @DNI;
        RETURN;
    END

    -- Buscar en la tabla Personal
    IF EXISTS (SELECT 1 FROM personal p
               JOIN Usuario u ON p.id_usuario = u.id
               WHERE u.dni = @DNI)
    BEGIN
        SELECT u.Id, 'Personal' AS TipoUsuario
        FROM Usuario u
        JOIN personal p ON u.id = p.id_usuario
        WHERE u.dni = @DNI;
        RETURN;
    END

    -- Buscar en la tabla Administrador
    IF EXISTS (SELECT 1 FROM administrador a
               JOIN Usuario u ON a.id_usuario = u.id
               WHERE u.dni = @DNI)
    BEGIN
        SELECT u.Id, 'Administrador' AS TipoUsuario
        FROM Usuario u
        JOIN administrador a ON u.id = a.id_usuario
        WHERE u.dni = @DNI;
        RETURN;
    END

    -- Si no se encontró el usuario en ninguna tabla, retornar NULL
    SELECT NULL AS TipoUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarVehiculo]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarVehiculo]
    @Placa VARCHAR(50),
    @Marca VARCHAR(50),
    @Modelo VARCHAR(50),
    @Tipo VARCHAR(20),
    @TarjetaVehiculo INT,
    @IdVehiculo INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Vehiculo (placa, marca, modelo, tipo, tarjeta_vehiculo)
    VALUES (@Placa, @Marca, @Modelo, @Tipo, @TarjetaVehiculo);

    -- Obtener el Id del vehículo recién insertado
    SET @IdVehiculo = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerContraseñaHasheadaUsuario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerContraseñaHasheadaUsuario]
    @IdUsuario INT,
    @ContraseñaHash VARCHAR(60) OUTPUT  -- Este parámetro retornará la contraseña hasheada
AS
BEGIN
    SET NOCOUNT ON;

    -- Comprobar en la tabla Beneficiario
    IF EXISTS (SELECT 1 FROM beneficiario WHERE id_usuario = @IdUsuario)
    BEGIN
        -- Obtener la contraseña hasheada del beneficiario
        SELECT @ContraseñaHash = contraseña FROM beneficiario WHERE id_usuario = @IdUsuario;
        RETURN;
    END

    -- Comprobar en la tabla Personal
    IF EXISTS (SELECT 1 FROM personal WHERE id_usuario = @IdUsuario)
    BEGIN
        -- Obtener la contraseña hasheada del personal
        SELECT @ContraseñaHash = contraseña FROM personal WHERE id_usuario = @IdUsuario;
        RETURN;
    END

    -- Comprobar en la tabla Administrador
    IF EXISTS (SELECT 1 FROM administrador WHERE id_usuario = @IdUsuario)
    BEGIN
        -- Obtener la contraseña hasheada del administrador
        SELECT @ContraseñaHash = contraseña FROM administrador WHERE id_usuario = @IdUsuario;
        RETURN;
    END

    -- Si no se encontró, devolver NULL
    SET @ContraseñaHash = NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerIdPorDNI]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerIdPorDNI]
    @DNI VARCHAR(10),
    @IdUsuario INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @IdUsuario = id
    FROM Usuario
    WHERE dni = @DNI;

    -- Si no se encuentra el usuario, se establece @IdUsuario en NULL
    IF @IdUsuario IS NULL
    BEGIN
        SET @IdUsuario = -1; -- Valor especial para indicar que no se encontró
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarAdministrador]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarAdministrador]
    @id_usuario INT,
    @Password VARCHAR(60)
AS
BEGIN
    INSERT INTO Administrador (id_usuario, contraseña)
    VALUES (@id_usuario, @Password);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarBeneficiario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarBeneficiario]
    @id_usuario INT,
    @IdVehiculo INT = NULL,  -- Permitir NULL para IdVehiculo
    @Password VARCHAR(60)
AS
BEGIN
    INSERT INTO Beneficiario (id_usuario, id_vehiculo, contraseña)
    VALUES (@id_usuario, @IdVehiculo, @Password);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarDocumento]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarDocumento]
    @IdSiniestro INT,         -- Relación con la tabla Siniestro
    @Nombre NVARCHAR(255),    -- Nombre del archivo
    @Extension NVARCHAR(10),  -- Extensión del archivo (por ejemplo: .pdf, .jpg)
    @Url NVARCHAR(MAX)        -- URL del archivo almacenado
AS
BEGIN
    -- Manejo de errores
    BEGIN TRY
        -- Inserta el documento en la tabla
        INSERT INTO documento (
            id_siniestro, Nombre, Extension, Url, FechaCreacion
        )
        VALUES (
            @IdSiniestro, @Nombre, @Extension, @Url, GETDATE()
        );

        -- Confirmación de éxito
        PRINT 'Documento registrado correctamente';
    END TRY
    BEGIN CATCH
        -- Captura el error y lo lanza como mensaje
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarDocumentoReclamacion]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarDocumentoReclamacion]
    @Nombre VARCHAR(100),
    @Extension VARCHAR(50),
    @IdReclamacion INT,
	@Url VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO DocumentosReclamacion (Nombre, Extension , IdReclamacion, Url)
    VALUES (@Nombre, @Extension , @IdReclamacion, @Url);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPersonal]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarPersonal]
    @id_usuario INT,
    @Password VARCHAR(60)
AS
BEGIN
    INSERT INTO Personal (id_usuario, contraseña)
    VALUES (@id_usuario, @Password);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPoliza]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarPoliza]
    @id_beneficiario INT,
    @id_tipo INT,
    @fecha_inicio DATE,
    @fecha_fin DATE,
    @estado VARCHAR(10),  -- Actualizado a VARCHAR(10)
    @id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Insertar nueva póliza
    INSERT INTO Poliza (id_beneficiario, id_tipo, fecha_inicio, fecha_fin, estado)
    VALUES (@id_beneficiario, @id_tipo, @fecha_inicio, @fecha_fin, @estado);

    -- Obtener el ID de la póliza recién insertada
    SET @id = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarReclamacion]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarReclamacion]
    @IdSiniestro INT,
    @FechaReclamacion DATE,
    @Estado VARCHAR(10),
    @Descripcion TEXT,
	@Tipo VARCHAR(20),
    @IdReclamacion INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Reclamacion (id_siniestro, fecha_reclamacion, estado, descripcion, tipo)
    VALUES (@IdSiniestro, @FechaReclamacion, @Estado, @Descripcion, @Tipo);

    SET @IdReclamacion = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarSiniestro]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarSiniestro]
    @Tipo NVARCHAR(20),
    @FechaSiniestro DATE,
    @Departamento INT,
    @Provincia INT,
    @Distrito INT,
    @Ubicacion NVARCHAR(30),
    @Descripcion NVARCHAR(MAX),
     @IdDocumento INT = NULL,  -- Valor predeterminado de 1
    @IdPoliza INT = 1,     -- Valor predeterminado de 1
    @IdTaller INT = 1,     -- Valor predeterminado de 1
    @IdPresupuesto INT = NULL,
    @IdSiniestro INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Insertar el nuevo siniestro en la tabla Siniestro
    INSERT INTO Siniestro (
        tipo, fecha_siniestro, fecha_creacion, fecha_actualizacion, ubicacion, descripcion, 
        id_departamento, id_provincia, id_distrito, id_documento, id_poliza, id_taller, id_presupuesto
    )
    VALUES (
        @Tipo, @FechaSiniestro, GETDATE(), GETDATE(), @Ubicacion, @Descripcion, 
        @Departamento, @Provincia, @Distrito, @IdDocumento, @IdPoliza, @IdTaller, @IdPresupuesto
    );

    -- Obtener el ID del siniestro recién insertado
    SET @IdSiniestro = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]
    @Nombres VARCHAR(50),
    @Apellido1 VARCHAR(50),
    @Apellido2 VARCHAR(50),
    @DNI VARCHAR(10),
    @Telefono VARCHAR(7),
    @UserType VARCHAR(20), -- Nuevo parámetro
    @IdUsuario INT OUTPUT
AS
BEGIN
    INSERT INTO Usuario (nombres, apellido1, apellido2, dni, telefono, tipousuario)
    VALUES (@Nombres, @Apellido1, @Apellido2, @DNI, @Telefono, @UserType);

    SET @IdUsuario = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarProveedor]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarProveedor]
    @Id INT,
    @Nombre VARCHAR(20),
    @Ruc VARCHAR(20),
    @Telefono VARCHAR(10),
    @Correo VARCHAR(30),
    @Calificacion VARCHAR(15),
    @Descripcion TEXT
AS
BEGIN
    UPDATE Proveedor
    SET nombre = @Nombre,
        ruc = @Ruc,
        telefono = @Telefono,
        correo = @Correo,
        calificacion = @Calificacion,
        descripcion = @Descripcion
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarTaller]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarTaller]
    @Id INT, -- ID del Taller que se va a actualizar
    @id_proveedor INT, -- Proveedor asociado al taller
    @nombre VARCHAR(20),
    @direccion VARCHAR(30),
    @telefono VARCHAR(10),
    @correo VARCHAR(30),
    @ciudad VARCHAR(20),
    @tipo VARCHAR(25),
    @capacidad INT,
    @descripcion TEXT,
    @calificacion VARCHAR(15),
    @estado VARCHAR(10)
AS
BEGIN
    -- Actualizar los datos del taller, incluyendo el proveedor asociado
    UPDATE Taller
    SET 
        id_proveedor = @id_proveedor, -- Actualizar el proveedor asociado
        nombre = @nombre,
        direccion = @direccion,
        telefono = @telefono,
        correo = @correo,
        ciudad = @ciudad,
        tipo = @tipo,
        capacidad = @capacidad,
        descripcion = @descripcion,
        calificacion = @calificacion,
        estado = @estado
    WHERE id = @Id; -- Filtrar por el ID del taller
END;
GO
/****** Object:  StoredProcedure [dbo].[spAgregarProveedor]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarProveedor]
    @Nombre VARCHAR(20),
    @Ruc VARCHAR(20),
    @Telefono VARCHAR(10),
    @Correo VARCHAR(30),
    @Calificacion VARCHAR,
    @Descripcion TEXT,
    @Id INT OUTPUT  -- Parámetro de salida opcional
AS
BEGIN
    INSERT INTO Proveedor (nombre, ruc, telefono, correo, calificacion, descripcion)
    VALUES (@Nombre, @Ruc, @Telefono, @Correo, @Calificacion, @Descripcion);

    -- Asigna el ID generado al parámetro de salida
    SET @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spAgregarTaller]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarTaller]
    @id_proveedor INT,
    @nombre VARCHAR(20),
    @direccion VARCHAR(30),
    @telefono VARCHAR(10),
    @correo VARCHAR(30),
    @ciudad VARCHAR(20),
    @tipo VARCHAR(25),
    @capacidad INT,
    @descripcion TEXT,
    @calificacion VARCHAR(15),
    @estado VARCHAR(10),
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO Taller (id_proveedor, nombre, direccion, telefono, correo, ciudad, tipo, capacidad, descripcion, calificacion, estado)
    VALUES (@id_proveedor, @nombre, @direccion, @telefono, @correo, @ciudad, @tipo, @capacidad, @descripcion, @calificacion, @estado);

    SET @Id = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[spEliminarProveedor]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarProveedor]
    @Id INT
AS
BEGIN
    DELETE FROM Proveedor WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarTaller]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarTaller]
    @Id INT
AS
BEGIN
    -- Verificar si el taller está asociado a algún siniestro
    IF EXISTS (SELECT 1 FROM Siniestro WHERE id_taller = @Id)
    BEGIN
        -- Lanzar un error si el taller está asociado
        RAISERROR ('No se puede eliminar el taller porque está asociado a uno o más siniestros.', 16, 1);
        RETURN;
    END

    -- Si no está asociado, proceder con la eliminación
    DELETE FROM Taller WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[spObtenerProveedores]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spObtenerProveedores]
AS
BEGIN
    SELECT * FROM Proveedor
END
GO
/****** Object:  StoredProcedure [dbo].[spObtenerTalleres]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spObtenerTalleres]
AS
BEGIN
    SELECT *
    FROM Taller;
END;
GO
/****** Object:  StoredProcedure [dbo].[spObtenerTalleresConProveedor]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spObtenerTalleresConProveedor]
AS
BEGIN
    SELECT 
        T.id AS Id,
        T.nombre AS Nombre,
        T.direccion AS Direccion,
        T.ciudad AS Ciudad,
        T.capacidad AS Capacidad,
        T.id_proveedor AS IdProveedor,
        P.nombre AS NombreProveedor
    FROM Taller T
    INNER JOIN Proveedor P ON T.id_proveedor = P.id;
END
GO
/****** Object:  StoredProcedure [dbo].[spObtenerTallerPorId]    Script Date: 26/11/2024 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[spObtenerTallerPorId]
    @Id INT
AS
BEGIN
    SELECT 
        id AS Id,
        id_proveedor ,
        nombre AS Nombre,
        direccion AS Direccion,
        telefono AS Telefono,
        correo AS Correo,
        ciudad AS Ciudad,
        tipo AS Tipo,
        capacidad AS Capacidad,
        descripcion AS Descripcion,
        calificacion AS Calificacion,
        estado AS Estado
    FROM Taller
    WHERE id = @Id;
END
GO
USE [master]
GO
