@model EntidadesProyecto.Taller

<h2>Eliminar Taller</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<p>¿Está seguro de que desea eliminar el taller <strong>@Model.Nombre</strong>?</p>

<form asp-action="EliminarConfirmado" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="/Personal/proveedor/ProveedoresYTalleres" class="btn btn-secondary">Cancelar</a>

</form>
