@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="box">
    <h1>Dashboard del Beneficiario</h1>
    <p>Bienvenido al panel de control del beneficiario.</p>
</div>

<div class="box">
    <h3>Historial de Siniestros</h3>
    <p>Consulta el historial de siniestros registrados.</p>
    <a class="btn btn-custom" href="/Siniestro/Historial">Ver Historial</a>
</div>
