@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    .my-card {
        height: 18rem;
        object-fit: cover;
    }

    .card-border {
        border-color: #b71c1c;
    }

    .card-my-img {
        height: 100%;
        object-fit: cover;
    }

    .contenedor {
        height: 100%;
    }

    .bg-opacidad {
        background-color: rgba(45, 45, 45, 0.6)
    }

    .btn-personalizado {
        width: 4rem;
        color: white;
        background-color: #b71c1c;
    }

        .btn-personalizado:hover {
            color: white;
            background-color: #6C0000;
            cursor: pointer;
        }

</style>

<div class="d-flex flex-column contenedor">
    <p class="fs-2">¡Bienvenido beneficiario!</p>
    <div class="d-flex flex-wrap justify-content-around w-100">
        <div class="card border-4 rounded-0 my-card">
            <img src="/img/ic_beneficiario1.jpg" class="card-img rounded-0 card-my-img" alt="b1" style="width: 15rem;" />
            <div class="card-img-overlay bg-opacidad">
                <h5 class="card-title text-white">Registrar siniestro</h5>
                <p class="card-text text-white">Aquí prodrás ingresar los datos de tu siniestro vehicular.</p>

            </div>
        </div>

        <div class="card border-4 rounded-0 my-card">
            <img src="/img/ic_beneficiario2.jpg" class="card-img rounded-0 card-my-img" alt="b1" style="width: 15rem;" />
            <div class="card-img-overlay bg-opacidad">
                <h5 class="card-title text-white">Ingresar Reclamación</h5>
                <p class="card-text text-white">Si tienes algunas deficiencias o problemas, te escucharemos y brindaremos una mejor solución.</p>

            </div>
        </div>

        <div class="card border-4 rounded-0 my-card">
            <img src="/img/ic_beneficiario3.jpg" class="card-img rounded-0 card-my-img" alt="b1" style="width: 15rem;" />
            <div class="card-img-overlay bg-opacidad h-100">
                <h5 class="card-title text-white">Gestión de seguimiento del siniestro</h5>
                <p class="card-text text-white">Observa detalladamente tu siniestro paso a paso, conoce detalle del mismo aquí.</p>

            </div>
        </div>
    </div>
</div>
