@model AplicaciónWeb.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Ha ocurrido un error.</h2>

<p>
    @ViewBag.ErrorMessage
</p>

<h3>Modo Desarrollo</h3>
<p>
    Cambiar al entorno de <strong>Desarrollo</strong> mostrará más información detallada sobre el error que ocurrió.
</p>
<p>
    <strong>No debe habilitarse el entorno de Desarrollo en aplicaciones en producción.</strong> Puede exponer información sensible.
</p>
