@using EntidadesProyecto
@model PerfilViewModel

<p><strong>DNI:</strong> @Model.Dni</p>
<p><strong>Nombres:</strong> @Model.Nombres</p>
<p><strong>Apellido Paterno:</strong> @Model.Apellido1</p>
<p><strong>Apellido Materno:</strong> @Model.Apellido2</p>
